<nav class="navbar">
  <div class="nav-wrapper">
      <img src="/media/images/instagramlogo-removebg-preview (1).png"  alt="" height="100px">
      <input type="text" class="search-box" placeholder="search">
      <div class="nav-items">
          <button>
            <img src="/media/img/home.PNG" class="icon" alt="">
          </button>
        
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
           <img  class="img-fluid" src="/media/img/add.PNG">
          </button>
       
          <button>
            <img src="/media/img/explore.PNG" class="icon" alt="">
          </button>
          <button>
            <img src="/media/img/like.PNG" class="icon" alt="">
          </button>
          <button href="{url_for'profile}">
            <img  src="/media/img/profile-removebg-preview.png" class="icon" alt="">
          </button>
          <div class="icon user-profile"></div>
      </div>
  </div>
</nav>
<section class="main">
<div class="wrapper">
    <div class="left-col">
        <div class="status-wrapper">
            <div class="status-card">
                <div class="profile-pic"><img src="img/cover 1.png" alt=""></div>
                <p class="username">user_name_1</p>
            </div>
            <div class="status-card">
                <div class="profile-pic"><img src="img/cover 2.png" alt=""></div>
                <p class="username">user_name_2</p>
            </div>
            <div class="status-card">
                <div class="profile-pic"><img src="img/cover 3.png" alt=""></div>
                <p class="username">user_name_3</p>
            </div>
            // +5 more status card elements.
    </div>
</div>
</section>