{% load static%}
<nav class="navbar">
  <div class="nav-wrapper">
      <img src="/media/images/instagramlogo-removebg-preview (1).png"  alt="" height="100px">
      <input type="text" class="search-box" placeholder="search">
      <div class="nav-items">
          <button>
            <img src="/media/img/home.PNG" class="icon" alt="">
          </button>
        
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
           <img  class="img-fluid" src="/media/img/add.PNG">
          </button>
       
          <button>
            <img src="/media/img/explore.PNG" class="icon" alt="">
          </button>
          <button>
            <img src="/media/img/like.PNG" class="icon" alt="">
          </button>
          <button>
            <img  src="/media/img/profile-removebg-preview.png" class="icon" alt="">
          </button  href="{url_for'profile}">
          <div class="icon user-profile"></div>
      </div>
  </div>
</nav>