<div class="card mt-5 pt-5 py-3">
  <div class="status d-flex py-2">
      <div class="status-item mx-3 ms-4">
          <div class="status-div">
              <a href="#">
                  <img class="img-fluid"
                      src="/media/img/image1.jpg"
                      alt="">
              </a>
          </div>
          <div class="username mt-1">
              <small>miss_bakers</small>
          </div>
      </div>

      <div class="status-item mx-3">
          <div class="status-div">
              <a href="#">
                  <img class="img-fluid"
                      src="/media/img/image2.jpg"
                      alt="">
              </a>
          </div>
          <div class="username mt-1">
              <small>Marley Monroe</small>
          </div>
      </div>

      <div class="status-item mx-3">
          <div class="status-div">
              <a href="#">
                  <img class="img-fluid"
                      src="/media/img/image3.jpg"
                      alt="">
              </a>
          </div>
          <div class="username mt-1">
              <small>Jupiter Justice</small>
          </div>
      </div>

      <div class="status-item mx-3">
          <div class="status-div">
              <a href="#">
                  <img class="img-fluid"
                      src="/media/img/image4.jpg"
                      alt="">
              </a>
          </div>
          <div class="username mt-1">
              <small>Lulu</small>
          </div>
      </div>

      <div class="status-item mx-3">
          <div class="status-div">
              <a href="#">
                  <img class="img-fluid"
                      src="/media/img/image1.jpg"
                      alt="">
              </a>
          </div>
          <div class="username mt-1">
              <small>Zaharia</small>
          </div>
      </div>

      <div class="status-item mx-3">
          <div class="status-div">
              <a href="#">
                  <img class="img-fluid"
                      src="/media/img/image2.jpg"
                      alt="">
              </a>
          </div>
          <div class="username mt-1">
              <small>Mo</small>
          </div>
      </div>

      <div class="status-item mx-3">
          <div class="status-div">
              <a href="#">
                  <img class="img-fluid"
                      src="/media/img/image4.jpg"
                      alt="">
              </a>
          </div>
          <div class="username mt-1">
              <small>Edgar Obare</small>
          </div>
      </div>

      <div class="status-item mx-3">
          <div class="status-div">
              <a href="#">
                  <img class="img-fluid"
                      src="static/img/roro.jpg"
                      alt="">
              </a>
          </div>
          <div class="username mt-1">
              <small>cr7Ronaldo</small>
          </div>
      </div>

  </div>
</div>